@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

/*Main view styles*/
html {
    min-height: 100%;
    position: relative;
    color: #fff;
}

body {
    background-color: black;
    font-family: 'Roboto', open-sans, sans-serif;
    margin: 0;
}

.question {
    margin: 0px;
}

/*header and footer styles*/
header {
    text-align: center;
    height: 50px;
    padding-bottom: 5%;
}

footer {
    text-align: center;
    position: absolute;
    width: 100%;   
}

/*Styles for main game-section*/
#gameSection {
    display: inline;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

/*Styles for control-buttons*/
#controlDiv {
    margin-top: 10%;
}

.controlBtn {
    display: inline-block;
    position: static;
    line-height: 30px;
    width: 29%;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 3rem;
}

.controlBtn:hover {
    transform: scale(1.4);
}

#playerDiv {
    float: left;
    font-size: 5rem;
    width: 45%;
    max-height: 106px;
}

/*Styles for computers and players choices*/
#computerDiv {
    float: right;
    font-size: 5rem;
    width: 45%;
    max-height: 106px;
}

/*Styles for results*/
#resultDiv {
    text-align: center;
    width: 100%;
    clear: both;
    
}