@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

/*Main view styles*/
html {
    min-height: 100%;
    position: relative;
    color: white;
}

body {
    background-color: black;
    font-family: 'Roboto', open-sans, sans-serif;
    margin: 0;
}
/*header and footer styles*/
header {
    text-align: center;
    height: 50px;
}

footer {
    text-align: center;
    position: absolute;
    width: 100%;   
}

#gameSection {
    display: inline;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

#controlDiv {
    margin-top: 20%;
}

.controlBtn {
    display: inline-block;
    position: static;
    line-height: 30px;
    width: 30%;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 3rem;
}

.controlBtn:hover {
    transform: scale(1.3);
}

#playerDiv {
    float: left;
    font-size: 6rem;
    width: 45%;
}

#computerDiv {
    float: right;
    font-size: 6rem;
    width: 45%;
}

#resultDiv {
    text-align: center;
    
}